:root {
  --main-title-color: #ffffff;
  --titles-with-prgh-color: #2e2f42;
  --title-web-logo: #4d5ae5;
  --title-hover-color: #404bbf;
  --paragrapgh-with-titles-color: #434455;
  --studio-logo-color: #f4f4fd;
  --footer-para-color: #e7e9fc;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
  color: #4d5ae5;
  color: #404bbf;
  color: #434455;
  color: #f4f4fd;
  color: #e7e9fc;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* header */
.header {
}
.header-navigation {
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titles-with-prgh-color);
}

.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-web-logo);
}

.header-list {
}

.header-item {
}
.header-link {
  text-transform: none;
  font-weight: 500;
  color: var(--titles-with-prgh-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--title-hover-color);
}
.header-address {
}
.header-contacts-list {
}
.header-mail {
  font-style: normal;
  font-weight: 400;
  color: var(--paragrapgh-with-titles-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--title-hover-color);
}

.header-tel {
  font-style: normal;
  font-weight: 400;
  color: var(--paragrapgh-with-titles-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--title-hover-color);
}
/* /header */

/* hero */

.hero {
}
.hero-section {
  background-color: var(--titles-with-prgh-color);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--main-title-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--main-title-color);
  background: var(--title-web-logo);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--title-hover-color);
}

/* /hero */

/* section 1 */

.section-advantages {
}
.title-advantages {
}
.list-advantages {
}
.item-advantages {
}
.advantages-point {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--titles-with-prgh-color);
}
.advantages-paragraph {
  font-weight: 400;
  color: var(--paragrapgh-with-titles-color);
}

/* /section 1 */

/* section 2 */

.example {
}
.example-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  color: var(--titles-with-prgh-color);
}
.example-list {
}
.example-item {
}

/* /section 2 */

/* section 3 */

.team {
  background: var(--studio-logo-color);
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--titles-with-prgh-color);
}
.team-profession {
  font-weight: 400;
  font-size: 16px;
  color: var(--paragrapgh-with-titles-color);
}

/* /section 3 */

/* footer */
.footer {
  background: var(--titles-with-prgh-color);
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--studio-logo-color);
}

.logo-studio-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-web-logo);
}

.footer-paragraph {
  font-weight: 400;
  color: var(--footer-para-color);
}
/* /footer */

/* portfolio btns */

.list-filter {
}

.item-filter {
}
.filter-btn {
  color: var(--title-web-logo);
}
.filter-btn:hover,
.filter-btn:focus {
  background: var(--title-hover-color);
  color: var(--main-title-color);
}

.projects {
}
.projects-title {
}
.project-list {
}
.projects-items {
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--titles-with-prgh-color);
}
.project-paragraph {
  font-weight: 400;
  color: var(--paragrapgh-with-titles-color);
}
